@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Encode+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;

}

.flex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
}

.flex div{
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;  /* NEW */
    min-width: 0;
    padding:2vw 2vh;
    cursor: pointer;
}

.flex div button{
    text-align: center;
    width:25%;
    background-color: rgba(0, 0, 0, 0);
    border: none;

}

.one{
    background-color:#EEEEEE;
    font-family: 'Aleo', serif;
    border-style: solid;
    border-color: #FFC270;
}

.one h1{
    margin-top: 15vh;
    margin-bottom: 75vh;
    font-family: 'Aleo', serif;
    font-weight: 900;
    font-size: 5vw;
    text-decoration: underline;
    text-decoration-color: #F8485E;  
}

.one h1 button{
    background-color: rgba(0, 194, 212, 0.5);
    font-family: 'Roboto', sans-serif;
    font-size:3vw;
    width: 55%;
    border-radius: 1rem;

}


.two{
  background-color: #FBEBEE;
  font-family: 'Abril Fatface', cursive;
  border-style: solid;
  border-color: #E3170A;
  border-width: 0.5rem;
  
}

.two h1{
    font-family: 'Abril Fatface', cursive;
    font-size:3vw;
    margin-top: 15vh;
    margin-bottom: 75vh;
}

.two button{
    font-family: 'Encode Sans', sans-serif;
    font-size: 5.5vw;
    color: #FBEBEE;
    text-align: center;
    width: 100%;
  
    /*-webkit-text-stroke: 2px black; width and color */
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    text-shadow: 1px 1px 0 #000,
      -1px 1px 0 #000,
      1px -1px 0 #000,
      -1px -1px 0 #000,
      0px 1px 0 #000,
      0px -1px 0 #000,
      -1px 0px 0 #000,
      1px 0px 0 #000,
      2px 2px 0 #000,
      -2px 2px 0 #000,
      2px -2px 0 #000,
      -2px -2px 0 #000,
      0px 2px 0 #000,
      0px -2px 0 #000,
      -2px 0px 0 #000,
      2px 0px 0 #000,
      1px 2px 0 #000,
      -1px 2px 0 #000,
      1px -2px 0 #000,
      -1px -2px 0 #000,
      2px 1px 0 #000,
      -2px 1px 0 #000,
      2px -1px 0 #000,
      -2px -1px 0 #000;

}


.three{
    font-family: 'Archivo', sans-serif;
}

.three h2{
    position: fixed;
    font-size: 18rem;

}

@media only screen and (max-width: 990px) {

    .flex{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 100vh;
    }
  }