@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');


*{
  background-color: #FFFCF5;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color:black;  

}

html{
  scroll-behavior: smooth;

}

/*Top navigation bar*/
  .topnav{
    position: relative;
    padding-bottom: 5vh;
    padding-top: 7vh;
    font-size: 1.4vw;
    display: flex;
    justify-content: center;

  }
  
    .left{
      justify-content: right;
  
    }
  
      .left img{
        width: 4vw;
      }
    
    .right{
      position: relative;
      font-family: 'Roboto Serif', serif;    
      text-align: right;
      margin-left: 42vw;
    }
    
      .right a{
        padding-left:2.5vw; 
      }

  h1{
    font-family: 'Tinos', serif;
    font-size:8vw;
    margin: 0;

  }

  .port  {
    font-size: 100%;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center

  }

  .essays {
    font-size: 2vw;
    margin-top:40vh;
    display: grid;
    /*border:solid;*/
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'Joan', serif;
  }

  .essays a{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.9vw;
    
    
  }

  .para{
    width:70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding:2rem;
  }

    p{
      font-family: 'Roboto Flex', sans-serif;
      text-align: center;
      font-size:2rem;
      
  
    }

